NEXT_PUBLIC_API_URL=your_api_url
NEXT_PUBLIC_CLOUD_NAME=your_cloud_name

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate_with_openssl_rand_base64_32

GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret