NEXT_PUBLIC_API_URL=your_backend_api_url
NEXT_PUBLIC_BACKEND_URL=your_backend_url
NEXT_PUBLIC_FRONTEND_URL=your_frontend_url
NEXT_PUBLIC_CLOUD_NAME=your_cloud_name

NEXTAUTH_URL=your_nextauth_url
NEXTAUTH_SECRET=your_nextauth_secret_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here