@import "tailwindcss";

:root {
  --background: #fefaef;
  --foreground: #282828;

  --color-yellow-teacher: #f5bb00;
  --color-yellow-light: #ffe274;
  --color-green-admin: #3f9065;
  --color-green-parent: #58baab;
  --color-orange-light: #fd875e;
  --color-orange-dark: #fd695f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background-color: #faf6ec;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

