MONGO_URI=mongodb+srv://localhost:27017/KidConnect
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=24h

WEATHER_API_KEY=54d781e35ad94d948d732245252309
WEATHER_API_URL=your_weather_api_url_here