MONGO_URI=mongodb+srv://localhost:27017/KidConnect
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=24h

WEATHER_API_KEY=your_weather_api_key
WEATHER_API_URL=your_weather_api_url

CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret